@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(45deg, #84d477, #6d9ddb);
  display: flex;
  align-items: center;
  justify-content: center;
}
.digital-clock{
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1{
  color: orangered;
  font-size: 40px;
  margin-bottom: 10px;
}
.time{
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 700;
}
.date{
  color:#888;
  font-size: 20px;
}