.product{
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ccc;
    text-align: center ;
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.product .img{
    width: 100%;
    height: 150px;
}
.product .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid rgb(73, 73, 56);
    border-radius: 10px;
}
.details{
    padding: 5px;
}

.details h3{
    margin-bottom: 10px;
    font-size: 14px;
}
.details p{
    font-weight: 500;
    color: #888;
    font-size: 14px;
}
.details button{
    padding: 5px 10px;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 4px;
}
.details button :hover{
    background-color: rgb(2,104,104);
}
.btnRemove{
    background-color: #f04f4f !important;
}